__pycache__/
*.pyc
*.py[cod]
*$py.class
.coverage
coverage
.vscode
*.DS_Store
env
env-wsl
env-windows
venv

arches_lintels.egg-info/
arches_lintels/ui/build/
arches_lintels/ui/lintels.pro.user
arches_lintels/ui/.qtcreator
settings.json
resources/
lintels.log