* {
    font-family: "Open Sans";
}

QLabel {
  color: #464d55;
  font-weight: 600;
}

QPushButton {
  background-color: #0d6efd;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #0d6efd;
  padding: 5px 15px;
  margin-top: 10px;
  outline: 0px;
}

QPushButton:hover,
QPushButton:focus {
  background-color: #0b5ed7;
  border: 3px solid #9ac3fe;
}

QLineEdit {
    margin-top: 10px;
    text-align: left;
    background-color: #fff;
    color: black;
    border-radius: 8px;
    border: 1px solid #e0e4e7;
    padding: 5px 15px;    
}

QLineEdit:focus {
  border: 1px solid #d0e3ff;
}

QLineEdit::placeholder {
  color: #767e89;
}

QComboBox {
    margin-top: 10px;
    text-align: left;
    background-color: #fff;
    color: black;
    border-radius: 8px;
    border: 1px solid #e0e4e7;
    padding: 5px 15px;    
}

QRadioButton {
    color: #788596;
}

QCheckBox::indicator,
QRadioButton::indicator {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid #788596;
    color: #fff;
}

QPushButton:hover,
QComboBox:hover,
QCheckBox::indicator:hover,
QRadioButton::indicator:hover {
    background-color: #e7e7e7;
    border: 1px solid #788596;
}

QPushButton:pressed,
QComboBox:pressed,
QCheckBox::indicator:pressed,
QRadioButton::indicator:pressed {
    background-color: #c7c7c7;
    border: 1px solid #788596;
}

QCheckBox::indicator:checked,
QRadioButton::indicator:checked {
    background-color: #8b8b8b;
    border: 1px solid #5d6774;
}

#MainWindow {
    background-color: #fff;
}

#widget {
    background-color: #f9fafd;
}

#iconOnlyMenu {
    background-color: #313a46;
    width:50px;
}

#fullMenu QPushButton, QLabel,
#iconOnlyMenu QPushButton, QLabel {
    background-color: none;
    font-weight: 600;
    outline: none;
    margin-top: 0px;
    height:30px;
    border:none;
    border-radius: 3px;
    text-align: left;
    padding: 8px 0 8px 15px;
    color: #788596;
}

#fullMenu QPushButton:hover,
#iconOnlyMenu QPushButton:hover {
    background-color: rgba(86, 101, 115, 0.5);
}

QPushButton#menuButton {
    background-color: none;
    color: none;
    font-weight: 600;
    margin-top: 0px;
    outline: none;
    padding: 5px;
    border: none;
    width: 30px;
    height: 30px;
}

QPushButton#menuButton:hover {
    background-color: #f4f4f4;
}


#logo_label_1 {
    padding: 5px
}

#fullMenu {
    background-color: #313a46;
}


#fullMenu QPushButton:checked {
    color: #fff;
}

#logo_label_2 {
    padding: 5px;
    color: #fff;
}

#logo_label_3 {
    padding-right: 10px;
    color: #fff;
}


/* Shared across pages */
QLabel#settingsTitle,
QLabel#controlCentreTitle,
QLabel#archesManagerLabel {
  color: #0f1925;
  font-size: 18px;
  margin-bottom: 10px;
}

QLabel#uiLabel, 
QLabel#installDirsLabel, 
QLabel#installedTitleLabel,
QLabel#runningTitleLabel,
QLabel#actionsLabel,
QLabel#activeProjectsLabel {
  color: #0f1925;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
}

#postgresInstalledLabel[state="installed"],
#elasticInstalledLabel[state="installed"] {
    color: green;
}

#postgresInstalledLabel[state="not_installed"],
#elasticInstalledLabel[state="not_installed"] {
    color: red;
}

#postgresRunningLabel[state="running"],
#elasticRunningLabel[state="running"]  {
    color: green;
}

#postgresRunningLabel[state="not_running"],
#elasticRunningLabel[state="not_running"] {
    color: red;
}

#postgresRunningLabel[state="starting"],
#elasticRunningLabel[state="starting"] {
    color: orange;
}

#createArchesProjectScrollArea, 
#scrollAreaWidgetContents {
    background-color: #fff;
}


/* 
QWidget:focus {
    border: 1px solid yellow;
} */
