* {
    font-family: "Open Sans";
}

#topPanel {
    background-color: #F1F4F9;
}

QStackedWidget, QScrollArea {
    background-color: #F1F4F9;
    /* background: qlineargradient(
        x1: 0, y1: 0,
        x2: 0, y2: 1,
        stop: 0 #F1F4F9,
        stop: 1 #fce1bd 
    ); */
}

QLabel {
  color: #0f1925;
  font-weight: 100;
}

QPushButton {
  background-color: #569DDB;
  color: #fff;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #3084ff;
  padding: 5px 15px;
  /* margin-top: 10px; */
  outline: 0px;
}

QPushButton:hover,
QPushButton:focus {
  background-color: #4495db;
  border: 1px solid #3084ff;
}

QPushButton:pressed {
  background-color: #3f7eb5;
  border: 1px solid #3084ff;
}

QLineEdit {
    /* margin-top: 10px; */
    text-align: left;
    background-color: #fff;
    color: black;
    border-radius: 8px;
    border: 1px solid #e0e4e7;
    padding: 5px 15px;    
}

QLineEdit:focus,
QLineEdit:hover {
  border: 1px solid #d0e3ff;
}

QLineEdit::placeholder {
  color: #767e89;
}

QComboBox {
    /* margin-top: 10px; */
    text-align: left;
    background-color: #fff;
    color: black;
    border-radius: 8px;
    border: 1px solid #e0e4e7;
    padding: 5px 15px;    
}

QComboBox:focus,
QComboBox:hover {
  border: 1px solid #d0e3ff;
}

#MainWindow {
    background-color: #fff;
}

#widget {
    background-color: #f9fafd;
}

#iconOnlyMenu {
    background-color: #313a46;
    width:50px;
}

#fullMenu QPushButton, QLabel,
#iconOnlyMenu QPushButton, QLabel {
    background-color: none;
    font-weight: 600;
    outline: none;
    margin-top: 0px;
    height:30px;
    border:none;
    border-radius: 3px;
    text-align: left;
    padding: 8px 0 8px 15px;
    color: #788596;
}

#fullMenu QPushButton:hover,
#iconOnlyMenu QPushButton:hover {
    background-color: rgba(86, 101, 115, 0.5);
}

QPushButton#menuButton {
    background-color: none;
    color: none;
    font-weight: 600;
    margin-top: 0px;
    outline: none;
    padding: 5px;
    border: none;
    width: 30px;
    height: 30px;
}

QPushButton#menuButton:hover {
    background-color: #f4f4f4;
}

#logoTextFull {
    background-color: none;
    font-weight: 600;
    outline: none;
    margin-top: 0px;
    height:30px;
    border:none;
    border-radius: 3px;
    text-align: left;
    padding: 8px 40px 8px 15px;
    color: #788596;
}



#fullMenu {
    background-color: #313a46;
}


#fullMenu QPushButton:checked {
    color: #fff;
}


/* Shared across pages */
QLabel#homePageTitle,
QLabel#settingsTitle,
QLabel#controlCentreTitle,
QLabel#archesManagerLabel,
QLabel#aboutTitle {
    padding: 0px;
    color: #0f1925;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

QLabel#uiLabel, 
QLabel#installDirsLabel, 
QLabel#installedTitleLabel,
QLabel#runningTitleLabel,
QLabel#actionsLabel,
QLabel#activeProjectsLabel,
QLabel#aboutSubTitle {
  color: #0f1925;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

#postgresInstalledLabel[state="installed"],
#elasticInstalledLabel[state="installed"] {
    color: green;
}

#postgresInstalledLabel[state="not_installed"],
#elasticInstalledLabel[state="not_installed"] {
    color: red;
}

#postgresRunningLabel[state="running"],
#elasticRunningLabel[state="running"]  {
    color: green;
}

#postgresRunningLabel[state="not_running"],
#elasticRunningLabel[state="not_running"] {
    color: red;
}

#postgresRunningLabel[state="starting"],
#elasticRunningLabel[state="starting"] {
    color: orange;
}

#createArchesProjectScrollArea, 
#scrollAreaWidgetContents {
    background-color: #fff;
}

#installDirsWidget,
#userInterfaceWidget,
#activeProjectWidget {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    border-bottom: 3px solid transparent;
}

#projectNameLabel {
    font-size: 14px;
}

/* 
QWidget:focus {
    border: 1px solid yellow;
} */

