QWidget, QLabel, QPushButton, QLineEdit {
    font-family: "Open Sans";
}

QPushButton {
    height: 20px;
    border-radius: 3px;
    border: 1px solid #788596;
    padding: 0px 4px 0px 4px;
    color: #788596;
}

QLineEdit {
    height: 20px;
    border: 1px solid #788596;
    border-radius: 3px;
    text-align: left;
    background-color: #fff;
    color: black;
}

QComboBox {
    height: 20px;
    border-radius: 3px;
    border: 1px solid #788596;
    padding: 0px 4px 0px 4px;
    background-color: #fff;
    color: #788596;
    text-align: center;
}

#MainWindow {
    background-color: #fff;
}
#menuButton {
    padding: 5px;
    border: none;
    width: 30px;
    height: 30px;
}

#widget {
    background-color: #f9fafd;
}

#iconOnlyMenu {
    background-color: #313a46;
    width:50px;
}

#fullMenu QPushButton, QLabel,
#iconOnlyMenu QPushButton, QLabel {
    height:30px;
    border:none;
    border-radius: 3px;
    text-align: left;
    padding: 8px 0 8px 15px;
    color: #788596;
}

#fullMenu QPushButton:hover,
#iconOnlyMenu QPushButton:hover {
    background-color: rgba(86, 101, 115, 0.5);
}

#logo_label_1 {
    padding: 5px
}

#fullMenu {
    background-color: #313a46;
}


#fullMenu QPushButton:checked {
    color: #fff;
}

#logo_label_2 {
    padding: 5px;
    color: #fff;
}

#logo_label_3 {
    padding-right: 10px;
    color: #fff;
}


/* Shared across pages */
#settingsTitle, #controlCentreTitle {
    font-weight: 600;
    font-size: 16px;
}

#uiLabel, #installDirsLabel {
    font-weight: 600;
}

#postgresInstalledLabel[installed="True"] {
    color: green;
}

#postgresInstalledLabel[installed="False"] {
    color: red;
}

#postgresRunningLabel[running="True"] {
    color: green;
}

#postgresRunningLabel[running="False"] {
    color: red;
}